body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1{
  font-size: 50px;
}
h2{
  font-size: 30px;
}

.name-color{
  color: rgb(231, 123, 80);
}

.flex-container{
  display: flex;
  margin-bottom: 100px;
}

.half-width{
  width: 50%;
  padding: 2% 0 0 5%;
}

.half-width p{
  text-align: justify;
  padding: 0 150px 0 0;
}

.half-width img{
  width: 80%;
}

.hire-link{
  text-decoration: none;
  color: aliceblue;
  background-image: linear-gradient(to right, rgb(211, 53, 113), orange);
  padding: 10px 50px;
  font-weight: 700;
  border-radius: 5px;
}

.head-section{
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big{
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience{
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.experience-item{
  width:40%;
  margin: 0 5%;
  box-shadow: 5px 5px 30px gray;
  padding: 0 3%;
  text-align: justify;
  border-radius: 10px;
}

#full-stack-item{
  border-left: 7px solid;
  border-image: linear-gradient(rgb(197, 80, 243),rgb(104, 203, 243),white);
  border-image-slice: 1;
}

#junior-dev-item{
  border-left: 7px solid;
  border-image: linear-gradient(rgb(104, 203, 243),rgb(197, 80, 243),white);
  border-image-slice: 1;
}

footer p{
  text-align: center;
  font-weight: 700;
  color: gray;
}